<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="my-alta-cuenta">
  <template>
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 65px;
      }
    </style>
    <div class="container">
      <div class="row">
        <label class="label-info">Alta de Cuenta</label>
      </div>
      <div class="row">
        <label class="label-info">IDCliente:</label>
      </div>
      <div class="row">
        <input type="text" name="idcliente" value="{{idcliente::input}}">
      </div>
      <div class="row">
        <label class="label-info">IDCuenta:</label>
      </div>
      <div class="row">
        <input type="text" name="idcuenta" value="{{idcuenta::input}}">
      </div>
      <div class="row">
        <label class="label-info">Cuenta:</label>
      </div>
      <div class="row">
        <input type="text" name="cuenta" value="{{cuenta::input}}">
      </div>
      <div class="row">
        <label class="label-info">Tipo de Cuenta:</label>
      </div>
      <div class="row">
      <input type="text" name="tipo_cuenta" value="{{tipo_cuenta::input}}">
       </div>
        <button class="btn btn-danger" on-click="altaCuenta">Alta Cuenta</button>
      </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer el nombre de la clasees como el nombre del componente
     y sin guion y mayusculas y minisculas, con el IS regresa el metodo
     del polymer
     */

    class AltaCuenta extends Polymer.Element {
      static get is() { return 'my-alta-cuenta'; }
      static get properties() {
        return {
          idcliente: {
              type:Number
          }
          ,
          idcuenta: {
              type:Number
          }
          ,
          cuenta:{
              type:String
          }
          ,
          tipo_cuenta:{
              type:String
          }
        };
      }


  altaCuenta(){
    var request = new XMLHttpRequest();
    //pos para aceptar integrar datos
    request.open("POST","http://localhost:3000/v1/Cuentas",false);

    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-Type","application/json");
    var nuevoCuenta = {
      "idcliente": this.idcliente,
      "idcuenta": this.idcuenta,
      "cuenta": this.cuenta,
      "tipo_cuenta": this.tipo_cuenta
    };
    var body = JSON.stringify(nuevoCuenta);
    request.send(body);

    this.respuesta = request.responseText;
    console.log(this.respuesta);
    alert("Alta realizada exitosamente");
  }
}
    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
