<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="my-alta-clientes">
  <template>
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 65px;
      }
    </style>
    <div class="container">
      <div class="row">
        <label class="label-info">Alta de Clientes</label>
      </div>
      <div class="row">
        <label class="label-info">IDCliente:</label>
      </div>
      <div class="row">
        <input type="text" name="idcliente" value="{{idcliente::input}}">
      </div>
      <div class="row">
        <label class="label-info">Nombre:</label>
      </div>
      <div class="row">
        <input type="text" name="nombre" value="{{nombre::input}}">
      </div>
      <div class="row">
        <label class="label-info">Apellido:</label>
      </div>
      <div class="row">
        <input type="text" name="apellido" value="{{apellido::input}}">
      </div>

        <button class="btn btn-danger" on-click="altaClientes">Alta Clientes</button>
      </div>
         </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer el nombre de la clasees como el nombre del componente
     y sin guion y mayusculas y minisculas, con el IS regresa el metodo
     del polymer
     */

    class AltaClientes extends Polymer.Element {
      static get is() { return 'my-alta-clientes'; }
      static get properties() {
        return {
          idcliente: {
              type:Number
          }
          ,
          nombre: {
              type:String
          }
          ,
          apellido: {
              type:String
          }
        };
      }


  altaClientes(){
    var request = new XMLHttpRequest();
    //pos para aceptar integrar datos
    request.open("POST","http://localhost:3000/v1/Clientes",false);

    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-Type","application/json");

    var nuevoCliente = {"idcliente":this.idcliente,"nombre":this.nombre,"apellido":this.apellido};
    var body = JSON.stringify(nuevoCliente);
    request.send(body);

    this.respuesta = request.responseText;
    console.log(this.respuesta);
    alert("Alta realizada exitosamente");
  }
}
    window.customElements.define(AltaClientes.is, AltaClientes);
  </script>
</dom-module>
