<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="my-consulta-movimientos">
  <template>
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 65px;
      }
    </style>
    <div class="container">

      <div class="row">
        <label class="label-info">Consulta de Movimientos</label>
      </div>
      <div class="row">
        <button class="btn btn-success" on-click="obtenerMovimientos">Obtener Movimientos</button>
      </div>

      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID Cuenta</th>
              <th>Cuenta</th>
              <th>Fecha</th>
              <th>Importe</th>
              <th>Categoria</th>
            </tr>
         </thead>
          <tbody>
            <template is="dom-repeat" items ="{{Movimientos}}">
              <tr>
                <td>
                  [[item.idcuenta]]
                </td>
                <td>
                  [[item.cuenta]]
                </td>
                <td>
                  [[item.fecha]]
                </td>
                <td>
                  [[item.importe]]
                </td>
                <td>
                  [[item.categoria]]
                </td>
              </tr>

            </template>
          </tbody>
        </table>
      </div>
   </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer el nombre de la clasees como el nombre del componente
     y sin guion y mayusculas y minisculas, con el IS regresa el metodo
     del polymer
     */
    class ConsultaMovimientos extends Polymer.Element {
      static get is() { return 'my-consulta-movimientos'; }
      static get properties() {
        return {
          Movimientos: {
            type: Array,
            notify: true
          }
        };
      }

  obtenerMovimientos(){
    var request = new XMLHttpRequest();
    //Get consulta datos
    request.open("GET","http://localhost:3000/v1/Movimientos",false);

    request.setRequestHeader("Accept","application/json");
    request.send();

    this.Movimientos = JSON.parse(request.responseText);
    //console.table(this.Movimientos);
  }
}
    window.customElements.define(ConsultaMovimientos.is, ConsultaMovimientos);
  </script>
</dom-module>
