<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="my-consulta-clientes">
  <template>
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 65px;
      }
    </style>
    <div class="container">
      <div class="row">
        <label class="label-info">Consulta de Clientes</label>
      </div>
      <div class="row">
        <button class="btn btn-success" on-click="obtenerClientes">Obtener Clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
         </thead>
          <tbody>
            <template is="dom-repeat" items ="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
   </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer el nombre de la clasees como el nombre del componente
     y sin guion y mayusculas y minisculas, con el IS regresa el metodo
     del polymer
     */
    class ConsultaClientes extends Polymer.Element {
      static get is() { return 'my-consulta-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

  obtenerClientes(){
    var request = new XMLHttpRequest();
    //Get consulta datos
    request.open("GET","http://localhost:3000/v1/Clientes",false);

    request.setRequestHeader("Accept","application/json");
    request.send();

    this.clientes = JSON.parse(request.responseText);
    //console.table(this.clientes);
  }
}
    window.customElements.define(ConsultaClientes.is, ConsultaClientes);
  </script>
</dom-module>
