<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="/bower_components/crypto-js/crypto-js.js"></script>

<dom-module id="my-login">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }

     .fondo {
        background-color: dimgrey;
        height: 700px;
     }
   </style>


    <div class="container" hidden$={{logado}}>
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login - APP Practitioner 3ED</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <label for="inputEmail">Correo Electrónico</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus" value="{{email::input}}">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" value="{{password::input}}">
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="" on-click="logar">Login</a>
          </form>
          <div class="text-center">
            <button type="button" class="btn btn-link" on-click="clickregistrar">Registrar una cuenta</button>
          </div>
        </div>
      </div>

      <div class="container" hidden$={{!register}}>
          <div class="card card-register mx-auto mt-5">
            <div class="card-header">Registrar una cuenta</div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-label-group">
                        <label for="firstName">Nombre(s)</label>
                        <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus" value="{{firstnameregister::input}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-label-group">
                        <label for="lastName">Apellidos</label>
                        <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required" value="{{lastnameregister::input}}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <label for="inputEmail">Correo Electrónico</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" value="{{email::input}}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-label-group">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" value="{{password::input}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-label-group">
                        <label for="confirmPassword">Confirmar Contraseña</label>
                        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                      </div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-primary btn-block" href="" on-click="enviarRegistro">Registrar</a>
              </form>
              <div class="text-center">
                  <button type="button" class="btn btn-link" on-click="regresarlogin">Login</a>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="row" hidden$={{!logado}}>
      <my-app></my-app>
    </div>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class MyLogin extends Polymer.Element {
     static get is() { return 'my-login'; }
     static get properties() {
       return {
        firstnameregister: {
           type: String
         },
         lastnameregister: {
           type: String
         },
         email: {
           type: String
         },
         password: {
           type: String
         },
         logado: {
           type: Boolean,
           value: false
         },
         register: {
            type: Boolean,
            value: false
         }
       }
     }
     logar() {
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/v2/Login";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.setRequestHeader("password", CryptoJS.MD5(this.password).toString());
       request.send();
       this.respuesta = request.responseText;
       //console.log(request);
       if (request.status == 200) {
         this.logado = true;
       } else {
         this.logado = false;
         alert("Invalid Username or Paswword");
       }
     }

     clickregistrar(){
        this.register = true;
     }

     enviarRegistro(){
        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/v2/UsuariosBMS";
        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"FirstName":this.firstnameregister, "LastName":this.lastnameregister, "email":this.email,"password":CryptoJS.MD5(this.password).toString()};
        var body=JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);


        this.register = false;
        this.logado = false;
     }

     regresarlogin(){
        this.register = false;
        this.logado = false;
     }

   }
   window.customElements.define(MyLogin.is, MyLogin);
 </script>
</dom-module>
