<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 65px;
      }
    </style>

    <div class="card">
    <!--  <div class="circle">1</div>   -->
      <h1>Página de Inicio</h1>
      <p>Bienvenidos a la Aplicacion de Clientes, Cuentas y Movimientos </p>
      <p>Basada en aprendizaje del curso practitioner 3ED .</p>
      <p>     Alumno: Luis Eduardo Hernandez Becerra.</p>
      <p>     Instructor: Edgar Ballesteros.</p>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
